*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabeça{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}


.corpo_dos_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white, gray);
    height: 80vh;
    width: 40vw;
    border-radius: 3%;
    gap: 1vh;
}

.layouts{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    height: 10vh;
    width: 10vw;
    border-radius: 50%;
}